body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: rgb(245, 228, 196);
    /* line-height: 30px; */
    
    
}

/* HEADER */
header{
    background-color: rgb(61, 56, 56);
    color: white;
    border-bottom: 4.5px solid rgb(240, 121, 10) ;
    
    
    
}
.head-logo span{
    color: rgb(240, 121, 10);

}
.head-logo h1{
    margin-top: 1.6rem;
    font-size: 2.4rem;
    
}
.head-logo img{
    height: 1.3rem;
    width: 1.3rem;
    border: 1px solid white;
    padding: 6px;
    display: inline;
    margin-top: 30px;
    margin-right: 1rem;
}
.head-logo{
    margin-left: 5rem;
    display: flex;
    flex-direction: row;
    
    
}

.nav-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.navigation ul li,a{
    text-decoration: none;
    list-style: none;
    padding: 11px;
    color: white;
    transition-property:hover;
    border-radius: 2px;
    
    
    
    
}


.navigation ul li a:hover{
    background-color:  rgb(240, 121, 10);
    color: white;
    transition: 0.3s;
    

    
    
    
    
}
.navigation ul{
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
    flex-wrap: wrap;
    margin-left: 23rem;
    
    
}
.sign-up{
    background-color:  white;
    
    color:rgb(240, 121, 10) ;
    padding: 13px;
    
}

.active{
    background-color:  rgb(240, 121, 10);

}



/* Showcase */

.sec-content {
    text-align: center;
    max-width: 75%;
    margin: auto;
    
    color: white;
    text-shadow: 2.5px 2.5px 3px black;
    
    
    
}

.container{
  
    overflow: hidden;
}


    
.showcase{
    background: url('./Images/Coding.jpg') no-repeat -100px -300px;
    min-height: 700px;
    margin: auto;
    margin-top: 0;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 3px black;
    
    
}


.showcase h1,p{
    text-align: center;
    
}
.showcase h1{
    font-size:4rem;
}
.showcase p{
    font-size: 1.3rem;
    margin-top: -3px;

}
.content  h1,p{
    margin-top: 10rem;
    
}

.btn{
    background-color:  rgb(240, 121, 10) ;
    border: 0;
    padding: 17px 17px;
    color: white;
    box-shadow: 2px 4px 3px black;
    
    margin-left: 41rem;
    margin-top: 2rem;
    font-size: 1rem;
    font-weight:200;
    border-radius: 5px;
}
.btn:hover{
   border: none;
   transition: 0.1s;
   transform: scale(1.02);
   background-color:  rgb(255, 124, 2) ;
}

.newsletter {
    display: flex;
    flex-direction: row;
    background-color: rgb(61, 56, 56) ;
    color: white;
    
    
}
.news-flex h2{
    margin: auto;
    width: 80%;
    float: left;
    padding: 10px 23px;
    margin-left: 4rem;
}
.news-flex{
    display: flex;
    flex-direction: row;
    margin: 1rem 7rem 1rem 0;
    flex-grow: 1;
    
}












.news-flex input{
    border: none;
    padding: 15px 15px;
    margin: 2px;
}
.news-flex input[type=submit]{
    background-color:rgb(240, 121, 10) ;
    color: white;
    
}
.news-flex input[type=submit]:hover{
border: none;
transform: scale(1.01);
background-color:  rgb(255, 124, 2) ;

}

.boxes{
    border: 2px solid white;
    padding: 50px 50px;
    margin: 0rem;
    display: inline;
    background-color:  rgb(255, 124, 2);
    color: white;
    min-width: 93%;

}

.box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    
}

.boxes img{
    width: 80px;
    

}

.boxes p{
    margin: 0;
    width: 50%;
    text-align: center;
    margin: auto;
}

.boxes:hover{
    background-color:rgb(226, 90, 0) ;
}


footer {
    background: rgb(61, 56, 56);
    text-align: center;
    color: wheat;
    margin:auto;    
    height: 250px;
    
    padding: 20px;
}
footer h3,h5{
    margin-left: 3rem;
    text-shadow: 0px 0px 10px black;
}
hr{
    margin-top: 2rem; ;
    color: white;

}
i{
    color:white;
    padding: 15px;
    border: 2px solid white;
    margin-left: 3rem;
    margin-top: 1rem;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0px 0px 8px  rgb(226, 90, 0);
    
}
i:hover{
    color: rgb(226, 90, 0) ;
    cursor: pointer;
    transition: 0.5s;
    background-color: white;
    border: 2px solid rgb(226, 90, 0)  ;
    border-radius: 2px;
    
}


@media only screen and (max-width:320px)

{
    body{
        overflow: hidden;
    }
    .navigation ul li {
        width: 394px;
        display: block;
        position: relative;
        right: 29.5rem;
        border-radius: 0;
        text-align: center;
    }
    .content h1{
        margin-top: 4rem;
    }
    
    .content p {
        font-size: 14px;
        padding: 2px 7% 0 8%;
    }
    .showcase h1 {
        font-size: 2.6rem;
        position: relative;
        right: 0rem;
    }
    .head-logo h1 {
        margin-left: -4rem;
        margin-top: 1.6rem;
        font-size: 2rem;
    }
    .head-logo img {
        height: 1.3rem;
        width: 1.3rem;
        border: 1px solid white;
        padding: 6px;
        display: inline;
        margin-top: 68px;
        margin-right: 1rem;
    }
    .head-logo img {
        height: 1.3rem;
        width: 1.3rem;
        border: 1px solid white;
        padding: 6px;
        display: inline;
        margin: 0;
        margin-right: 1rem;
        position: relative;
        top: 70px;
        left: 57px;
        margin: 0px 0 10px 0;
    }
    navigation ul li, a {
        text-decoration: none;
        list-style: none;
        padding: 11px;
        color: white;
        transition-property: hover;
        font-size: 13px;
        border-radius: 2px;
    }
    .btn {
        margin: auto;
        padding: 8px;
        border-radius: 0;
        margin-bottom: 30px;
        margin-left: 7.8rem;
        font-size: 8px;
    }
    .news-flex input[type=email] {
        font-size: 17px;
        margin-left: 62PX;
        padding: 10px;
    }

    
    

    .news-flex h2 {
        margin: auto;
        width: 138%;
        float: left;
        padding: 10px 23px;
        margin-left: 1rem;
        font-size: 28px;
    }
.news-flex {
    display: inline-block;
    width: 50px;
    height: 244px;
}
.newsletter {
    display: flex;
    flex-direction: row;
    background-color: rgb(61, 56, 56);
    color: white;
    height: 280px;
}
.news-flex input {
    border: none;
    padding: 15px 15px;
    margin: 9px;
    margin-left: 122px;
}

footer {
    background: rgb(61, 56, 56);
    text-align: center;
    color: wheat;
    margin: auto;
    height: 401px;
    padding: 20px;
}
i {
    color: white;
    padding: 9px;
    border: 2px solid white;
    margin-left: 0rem;
    margin-top: 2rem;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0px 0px 8px rgb(226, 90, 0);
}

.boxes img {
    width: 42px;
}
footer h3, h5 {
    margin-left: 1rem;
    text-shadow: 0px 0px 10px black;
}
.fa-lg {
    font-size: 3.33333em;
    line-height: 23px;
    vertical-align: 28px;
}
i {
    color: white;
    padding: 9px;
    border: 2px solid white;
    margin-left: 3rem;
    margin-top: 2rem;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0px 0px 8px rgb(226, 90, 0);
}
.boxes {
    border: 2px solid white;
    padding: 50px 50px;
    margin: 0rem;
    display: inline;
    background-color: rgb(255, 124, 2);
    color: white;
    min-width: 73%;
}
    .navigation ul a{
        width: 400px;
        border-radius: 0;
        size: 100%;
        display: inline-block;
    }
    .news-flex  {
        display: inline-block;
        width: 50px;
        height: 150px;
    }
    .news-flex input[type=email] {
        margin-left: 2.48rem;

    }
   
   
}


